body{
    background-color: rgb(131, 111, 111);
}
.title{
    text-align: center;
    margin-top: 4%;
    color: rgb(37, 219, 165);
}
p{
    text-align: center;
    margin-top: 4%;
    color: rgb(37, 219, 165) ;
    font-size: large;
}